[submodule "pc"]
	path = pc
	url = git@github.com:FantasyNetworkCN/NekoMusicForPc.git
[submodule "Android"]
	path = Android
	url = git@github.com:FantasyNetworkCN/NekoMusicForAndroid.git
[submodule "Neko歌姬计划文档"]
	path = Neko歌姬计划文档
	url = https://github.com/FantasyNetworkCN/NekoMusicDocs
