[submodule "pc"]
	path = pc
	url = git@github.com:FantasyNetworkCN/NekoMusicForPc.git
[submodule "Android"]
	path = Android
	url = git@github.com:FantasyNetworkCN/NekoMusicForAndroid.git
[submodule "Neko云音乐文档"]
	path = Neko云音乐文档
	url = https://github.com/FantasyNetworkCN/NekoMusicDocs
